@page
@model SlavVVar.BudynkiObronneModel

@{
    ViewData["Title"] = "SlavVVar";
}
<b>
    <h1>Budynki obronne</h1>
    <h3>Poziom: @Model.PoziomyBudynkow.Budynek9</h3>
</b>
<p>Obecna efektywność podczas obrony osady: 6%</p>
