@page
@model SlavVVar.HutaModel

@{
    ViewData["Title"] = "SlavVVar";
}
<b>
    <h1>Huta</h1>
    <h3>Poziom: @Model.PoziomyBudynkow.Budynek7</h3>
</b>

<p>
    Obecna generacja rud: 120/h<br />
    Obecna liczba rud w składzie: 296/500<br />
    <button>Odbierz</button>
</p>
