@page
@model SlavVVar.HutaModel

@{
    ViewData["Title"] = "SlavVVar";
}
<b>
    <h1>Magazyn</h1>
    <h3>Poziom: @Model.PoziomyBudynkow.Budynek7</h3>
</b>

<Table>
    <tr><th>Nazwa</th><th>Ilość w magazynie</th><th>Ilość w budynku</th><th>Pojemność magazynu</th></tr>
    <tr><td>Ruda</td><td>213</td><td>298</td><td>2000</td></tr>
    <tr><td>Glina</td><td>195</td><td>112</td><td>2000</td></tr>
    <tr><td>Drewno</td><td>221</td><td>3</td><td>2000</td></tr>
    <tr><td>Żywność</td><td>350</td><td>69</td><td>2000</td></tr>
</Table>
