@page
@model SlavVVar.KoszaryModel

@{
    ViewData["Title"] = "SlavVVar";
}
<Label>
    <table>
        <tr><th>Swargowie</th><th>Zesłańcy Bogów</th><th>Perunki</th><th>Welezowie</th></tr>
        <tr>
            <td><img src="~/Graphics/Plemiona/1.png" width="128"/></td>
            <td><img src="~/Graphics/Plemiona/4.png" width="128"/></td>
            <td><img src="~/Graphics/Plemiona/7.png" width="128"/></td>
            <td><img src="~/Graphics/Plemiona/8.png" width="128"/></td>
        </tr>
        <tr><td><input type="radio" /></td><td><input type="radio" /></td><td><input type="radio" /></td><td><input type="radio" /></td></tr>
    </table>
</Label>

